{{template "base"}}

{{define "content"}}
  <main class="container">
    <div class="row">
      <div class="column">
        <h1>This is About page</h1>
        <p>This is some text</p>
        <p>This is some text2</p>
      </div>
    </div>
  </main>
{{end}}