{{template "base" .}}

{{define "content"}}
  <main class="container">
    <div class="row">
      <div class="column">
        <h1>This is home page</h1>
        <p>This is some text</p>
      </div>
    </div>
  </main>
{{ end }}
